:root {
  --rose-800-color: #7a284e;
  --rose-50-color: #fff7fb;
  --stone-900-color: #312e2c;
  --stone-600-color: #5f564d;
  --stone-150-color: #e3ddd7;
  --stone-100-color: #f3e5d7;
  --brown-800-color: #854632;
  --white-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Card Section */
.card {
  display: flex;
  flex-direction: column;
  max-width: 37.5rem;
  max-height: 187.2rem;
}

.main-image {
  display: block;
  width: 100%;
  height: 17.1rem;
  object-fit: cover;
}
